Does not send goodbye packets

When a service is unregistered (or the whole server undergoes clean shutdown), it should be sending a goodbye packet for any service it's previously announced to the world (see [RFC 6762 §10.1](https://tools.ietf.org/html/rfc6762#section-10.1)). I don't see any evidence of this in the source.

The purpose of this is to allow other hosts that have cached the existence of services being broadcast by this server to learn that the service is no longer available.

Also note that it should only be sending goodbye packets for unique records. Shared records such as `_services._dns-sd._udp.` (see #3) should not have a goodbye packet.

Thanks for pointing this out. I though I have seen somewhere in the code that somewhere it reads that there should be some sort of goodbye functionality.
I just recently browsed the codebase in more detail. My current ambition would be to dump this project completely and start from scratch with a new implementation, as the current codebase is pretty fucked up (in my opinion) and it will end up in a rewrite anyway if you would try to correct things there.

Thanks for your issue. The bonjour library is about to be replaced by new [ciao](https://github.com/homebridge/ciao) library (which is basically a rewrite). It includes support for sending goodbye packets, thus this issue is closed.