Does not respond to _services._dns-sd._udp.

[RFC 6763 §9](https://tools.ietf.org/html/rfc6763#section-9) defines a special meta-query `_services._dns-sd._udp.<Domain>` that yields a set of PTR records that identify all service types available on the local network. This is used for network administration tools, as well as some developer tools like [Discovery](http://tildesoft.com).

Unfortunately, it seems as though this library doesn't support this meta-service. As a result, if homebridge is the only software advertising `_hap._tcp.` on the local network (or if the other advertisers are similarly bugged, like Philips Hue is), then tools using `_services._dns-sd._udp.` to find service types won't be able to detect the presence of `_hap._tcp`.

I consider this a bug. This library should learn to handle that meta-service correctly.

Also be sure to keep in mind [RFC 6762 §7](https://tools.ietf.org/html/rfc6762#section-7) which documents known-answer suppression. Ideally it would also implement [§7.4](https://tools.ietf.org/html/rfc6762#section-7.4) (duplicate answer suppression), as this is a shared record and other hosts may already declare that `_hap._tcp.` is on the network (also see [§6](https://tools.ietf.org/html/rfc6762#section-6) which documents response delay). Hopefully this is already implemented in the lower-level `multicast-dns` library though, as this is a feature of multicast DNS, not of Bonjour specifically.

I don't know the details offhand but I assume there's also some mechanism by which the service needs to be announced if it's registered while a long-lived `_services._dns-sd._udp.` query is running. Of course, this is true as well of a long-lived `_hap._tcp.` query and I don't know how this library behaves in that case.

Thanks for your issue. The bonjour library is about to be replaced by new [ciao](https://github.com/homebridge/ciao) library (which is basically a rewrite). It includes (or will include in the case of duplicate answer suppression) all features mentioned in your issue, thus this issue is closed.